@use 'variables' as v;
//Ejemplos de Mixins y mixins inteligentes
//Mixin sin parametros
// @mixin heading {
//     text-transform: uppercase;
//     font-size: 2.4rem;
//     color: red;
//     letter-spacing: 1rem;
// }

//Mixin Intelogente o con parametros
// @mixin heading($color: black, $border-radius: false) {
//     text-transform: uppercase;
//     font-size: 2.4rem;
//     color: $color;
//     letter-spacing: 1rem;
//     background-color: v.$amarillo;

//     @if $border-radius {
//         border-radius: 1rem;
//     }
// }

//Mixins para media queries
@mixin telefono {
    @media (min-width: v.$telefono) {
        //@content nos permite inyectar propiedades css desde donde llamamos al mixin, se sustituye el content con el contenido que le pasamos donde realizamos el llamado.
        //pueden ser cualquier numero de lineas de codigo
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin escritorio {
    @media (min-width: v.$escritorio) {
        @content;
    }
}

@mixin escritorioXL {
    @media (min-width: v.$escritorioXL) {
        @content;
    }
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

@mixin reset-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}