@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$verde;

    h1 {
        color: v.$blanco;
    }
}

.navegacion-principal {
    a {
        color: v.$blanco;
        font-size: 2.4rem;

        //formas de agregar una pseudoclase de manera correcta
        //forma anidada
        //amperan & en SASS elimina los espacios
        &:hover {
            color: v.$amarillo;
        }
    }

    //forma simple 
    // a:hover {
    //     color: v.$amarillo;
    // }
}

//llamando mixins
// .prueba {
//     @include m.heading(v.$morado, true)
// }

// .texto-prueba {
//     @include m.heading(v.$rosa)
// }